// Mobile 360-767
// Tablet 768-991
// Desktop 992 ->

@media screen and (max-width: 767px) {
    main {
        .container {
            padding: 0;
            margin: 0;
            flex-direction: column;
		    align-items: center;
            min-width: 100%;
		    text-align: justify;

            .listaServicios {
                text-align: center;
                justify-content: center;
            }

            .formularioReserva {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                margin-left: 0%;
    
                .datosReserva{
                    width: 100%;
                    padding: 25%;
                }
            }

            .mapa{
                max-width: 100%;
                margin: 5%;
            }
        }
        .centroTitulo{
            padding: 0;
            text-align: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .centro{
            padding: 0;
            text-align: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .row{
            align-items: center;
        }
        // .formularioReserva {
        //     display: flex;
        //     text-align: center;
        //     justify-content: center;
        //     align-items: center;
        //     flex-wrap: wrap;
        //     width: 100%;
        //     margin-left: 0%;

        //     .datosReserva{
        //         width: 100%;
        //         padding: 25%;
        //     }
        //}
        // .mapa{
        //     max-width: 100%;
        //     margin: 5%;
        // }
        
        
    }
    body {
        background-image: linear-gradient(180deg, #009efd 0%, #29d4eb 100%);
    }
}

@media screen and (max-width: 991px) {
    body{
        background-image: linear-gradient(180deg, #009efd 0%, #29d4eb 100%);
    }
}

@media screen and (min-width: 992px) and (max-width: 1500px) {
    body{
        background-image: linear-gradient(180deg, #009efd 0%, #29d4eb 100%);
    }
}